
Thumbs.db
.DS_Store
.project
.settings

application/config/trackoer_config.php
application/config/batch_config.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*.php
# !application/logs/index.html

# *.markdown
*.patch
*.diff
* copy.*
*- Copy*

/*.css
/*.js
/*.html
docs/*.html

piwik/*
b2s/*

_old*
_scratch*
