@charset "UTF-8";
/*!
 Markdown editor/output styles / N.D.Freear, 2012-10-18.
*/
body, textarea {
  background:#222;
  color:#eee;
  font:1em sans-serif;
}
body.md-edit{
  margin:0;
}
code, pre {
  background:#3a3a3a;
}
pre {
  margin:1em 2em;
  padding:.5em 1em;
  border:1px dashed #999;
}
textarea {
  width:49%;
  min-width:14em;
  min-height:25em;
  margin:1px;
  position:fixed;
  top:0;
  bottom:0;
}
a {
  color:#ace;
}
abbr {
  border-bottom:1px dotted #ddd;
  cursor:help;
}
#input{ left:0; }
#wmd-out{ right:0; }

@media screen and (max-width: 500px) {
  textarea {
    position:static;
	width:98%;
    bottom:auto;
    height:auto;
  }
}
